header {
    background: var(--orange);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 2%;
}

.header-logo {
    font-family: var(--logoFont);
    color: var(--black);
}

nav {
    width: 70%;
}

.nav-checkbox {
    display: none;
}

.nav-checkbox_gomb {
    width: 40px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

}

.nav-checkbox_vonal {
    width: 25px;
    height: 3px;
    background: var(--black);
}

.nav-list {
    display: flex;
    justify-content: space-evenly;
}

.nav-list a {
    color: var(--black);
}

@media screen and (min-width: 576px){
    header{
        background-color: white;
    }
}    
@media screen and (min-width: 768px){
    header{
        background: rgb(135, 32, 32);
    }
}   
@media screen and (min-width: 992px){
    header{
        background: rgb(36, 163, 91);
    }
}
@media screen and (min-width: 1200px){
    header{
        background: rgba(14, 26, 133, 0.7);
    }
}